/* typography */

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Variable.woff2') format('woff2-variations'),
        url('fonts/ClashDisplay-Variable.woff2') format('woff2')
            tech('variations');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2-variations'),
        url('fonts/Satoshi-Variable.woff2') format('woff2') tech('variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

/* Variables */

:root {
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: 'Clash Display', serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);

    --fs-nav: 1.25rem;

    --fs-button: var(--fs-300);

    @media (min-width: 50em) {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
    }

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
li[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

image,
picture,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* global */

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);

    color: hsl(0, 0%, 10%);
}

p:not([class]) {
    opacity: 0.7;
    max-width: 32ch;
}

p[data-width='wide'] {
    max-width: 52ch;
}

/* utilities */

.container {
    --max-content-width: 1280px;
    --padding-inline: 2rem;

    width: min(var(--max-content-width), 100% - (var(--padding-inline) * 2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.vertical-align-center {
    align-items: center;
}

@media (min-width: 50em) {
    .justify-self-end-md {
        justify-self: end;
    }
}

:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3rem);
}

.text-center {
    text-align: center;
}

.text-center p {
    margin-inline: auto;
}

@media (max-width: 50em) {
    .text-center-sm-only {
        text-align: center;
    }

    .text-center-sm-only p {
        margin-inline: auto;
    }
}

/* navigation */

.primary-header {
    margin-top: var(--size-700);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-400), 5vw, var(--size-700));

    font-size: 1rem;
    font-weight: 500;
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(0, 0%, 10%);
}

.nav-list a:hover,
.nav-list a:focus {
    color: hsl(329, 100%, 50%);
}

@media (max-width: 47em) {
    .primary-navigation {
        position: fixed;
        inset: 7rem 1rem auto;

        z-index: 999;

        display: none;
        max-width: 35rem;

        padding: 3rem;
        margin-inline: auto;

        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .nav-list {
        display: grid;
        gap: 2rem;

        text-align: center;

        font-weight: 700;
    }

    .mobile-nav-toggle {
        position: fixed;
        top: 3rem;
        right: 1rem;

        display: block;

        padding: 0.5rem;

        background-color: transparent;
        border: 0;

        cursor: pointer;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }
}

/* Footer navigation */

.footer-nav {
    columns: 2;
    gap: clamp(var(--size-200), 30vw, var(--size-900));
}

.footer-nav a {
    color: var(--clr-neutral-100);
    text-decoration: none;
}

.footer-nav a:where(:hover, :focus) {
    color: var(--clr-accent-400);
}

.primary-footer-wrapper {
    display: grid;
    gap: var(--size-700);
}

.primary-footer-logo-social {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--size-700);
}

.primary-footer-form {
    display: grid;
    align-content: space-between;
}

input:where([type='text'], [type='email']) {
    border-radius: 100vw;
    border: 0;

    padding: var(--size-300) var(--size-200);
}

@media (min-width: 50em) {
    .primary-footer-wrapper {
        grid-template-areas: 'logo-social nav form';
    }

    .primary-footer-logo-social {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--size-700);
    }
}

@media (max-width: 50em) {
    .primary-footer-wrapper > * {
        margin-inline: auto;
    }
}

/* Social list */

.social-list {
    display: flex;
    gap: var(--size-600);
}

.social-icon {
    width: var(--size-600);
    fill: var(--clr-neutral-100);
    aspect-ratio: 1;
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--clr-accent-400);
}

@media (min-width: 50em) {
    .social-list {
        gap: var(--size-300);
    }

    .social-icon {
        width: var(--size-500);
    }
}

/* Hero */

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    max-height: 70vh;

    aspect-ratio: 1 / 1;

    background-image: url('images/background-shape.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.logo {
    height: auto;
    width: 240px;
}

.hero__title {
    position: relative;
}

.icon-palette {
    position: absolute;

    right: 0;
    bottom: 0;
}

.icon-pen {
    position: absolute;

    left: 0;
    bottom: 0;
}

.card {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-direction: column;

    min-height: 530px;

    padding: 0.625rem;

    background-image: url('images/ti.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px;
}

.card[data-inverse='true'] {
    justify-content: flex-start;
}

.card_info {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 1.75em;

    align-items: center;
    text-align: center;

    text-wrap: pretty;

    background-color: white;

    border-radius: 25px;
}

.card_info h3 {
    text-transform: uppercase;
}

.card2_info {
    padding: 50px 20px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
    text-wrap: pretty;

    background-color: white;

    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 15px;
}

.logo_1 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffdeef;
}

.logo_2 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf3ce;
}

.logo_3 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #caf0ff;
}

/* Button */

.button {
    display: inline-flex;

    border: 0;
    border-radius: 99em;

    box-shadow: 0 1.125em 1em -1em hsl(329, 100%, 50%);

    padding: 1.25rem 2.5rem;

    font-weight: 550;
    font-size: 1rem;
    line-height: 1;

    background-color: hsl(329, 100%, 50%);
    color: hsl(0, 0%, 100%);

    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
}

.button:hover,
.button:focus-within {
    background-color: hsla(329, 100%, 50%, 0.9);
}

.button[data-glow='none'] {
    box-shadow: none;
}

.button[data-type='inverted'] {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);

    border: 1px solid hsl(0, 0%, 90%);
}

.button[data-type='inverted']:hover,
.button[data-type='inverted']:focus-within {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
}

.padding-block-900 {
    padding-block: 5rem;
}

.margin-bottom-700 {
    margin-block-end: 3rem;
}

h4 {
    color: #ff0084;
    text-align: center;
    font-family: 'Clash Display Variable';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 7rem;
    align-items: center;
}

.description-textuelle {
    position: relative;
}

.pinsau {
    position: absolute;
    right: 1000px;
    bottom: 50px;
}

.palette {
    position: absolute;
    left: 1000px;
}

h5 {
    color: #000;
    text-align: center;
    font-family: 'Clash Display';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    align-items: center;
    margin-top: 23px;
}

.text_field {
    display: flex;
    margin: 50px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.Name {
    width: 850px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #dedede;
    background: #fff;
}

.Email {
    width: 850px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #dedede;
    background: #fff;
}

.Message {
    width: 850px;
    height: 180px;
    flex-shrink: 0;

    padding: 10px;

    border-radius: 10px;
    border: 1px solid #dedede;
    background: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Text colors */

.text-primary-400 {
    color: var(--clr-primary-400);
}
.text-accent-400 {
    color: var(--clr-accent-400);
}
.text-accent-100 {
    color: var(--clr-accent-100);
}
.text-neutral-100 {
    color: var(--clr-neutral-100);
}
.text-neutral-900 {
    color: var(--clr-neutral-900);
}

/* Background colors */

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}
.bg-accent-400 {
    background-color: var(--clr-accent-400);
}
.bg-accent-100 {
    background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

/* Font weight */
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-regular {
    font-weight: var(--fw-regular);
}

/* Font size */

.fs-primary-heading {
    font-size: clamp(1rem, 8vw + 1rem, 4rem);
    line-height: 1.2;

    text-transform: uppercase;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    max-width: 18ch;
    margin-inline: auto;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.2;
}

.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}

/* Padding block */
.padding-block-100 {
    padding-block: var(--size-100);
}
.padding-block-200 {
    padding-block: var(--size-200);
}
.padding-block-300 {
    padding-block: var(--size-300);
}
.padding-block-400 {
    padding-block: var(--size-400);
}
.padding-block-500 {
    padding-block: var(--size-500);
}
.padding-block-600 {
    padding-block: var(--size-600);
}
.padding-block-700 {
    padding-block: var(--size-700);
}
.padding-block-800 {
    padding-block: var(--size-800);
}
.padding-block-900 {
    padding-block: var(--size-900);
}

.margin-bottom-700 {
    margin-block-end: var(--size-700);
}

/* display breakpoint */

.display-sm-none {
    display: none;
}

@media (min-width: 50em) {
    .display-md-inline-flex {
        display: inline-flex;
    }
}

/* Animations */

.animate-cube {
    animation: cube 6s ease-in-out infinite;
}

@keyframes cube {
    50% {
        transform: translateY(1rem);
    }
}
