/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
li[role='list'] {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

image,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* global */

body {
    font-family: 'Clash Display';
}

p:not([class]) {
    opacity: 0.7;
    max-width: 32ch;
}

p[data-width='wide'] {
    max-width: 52ch;
}

/* navigation */

.primary-header {
    margin-top: 3rem;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    gap: clamp(1rem, 5vw, 3rem);

    font-size: 1.25rem;
    font-weight: 500;
}

.nav-list a {
    text-decoration: none;
    color: #1a1a1a;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #ff0084;
}

@media (max-width: 47em) {
    .primary-navigation {
        position: fixed;
        inset: 7rem 1rem auto;

        z-index: 999;

        display: none;
        max-width: 35rem;

        padding: 3rem;
        margin-inline: auto;

        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    }

    .primary-navigation[data-visible] {
        display: block;
    }
}

.logo {
    width: 240px;
    cursor: pointer;
}

@font-face {
    font-family: 'Clash Display';
    src: local('Clash Display'), url('fonts/ClashDisplay-Variable.ttf');
}

@font-face {
    font-family: 'Satoshi Variable';
    src: local('Satoshi Variable'), url('fonts/Satoshi-Variable.ttf');
}

.btn {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: center;
    border-radius: 99em;
    background: #ff0084;
    color: #fff;
    align-items: center;
    cursor: pointer;
    font-family: 'Clash Display';
    border: 0;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

h1,
h2 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 80px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 100px;
    max-width: 20ch;
    margin-inline: auto;
}

.hero__title {
    position: relative;
}

.icon-palette {
    position: absolute;

    right: 65px;
    bottom: 0;
}

.icon-pen {
    position: absolute;

    left: 0;
    bottom: 0;
}

.padding-block-900 {
    padding-block: 5rem;
}

.margin-bottom-700 {
    margin-block-end: 3rem;
}

/* utilities */

.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3rem);
}

.menu-hambuger {
    display: none;
}

.card {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-direction: column;

    min-height: 530px;

    padding: 0.625rem;

    background-image: url('images/ti.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px;
}

.card[data-inverse='true'] {
    justify-content: flex-start;
}

.card_info {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 1.75em;

    align-items: center;
    text-align: center;

    text-wrap: pretty;

    background-color: white;

    border-radius: 25px;
}

.card_info h3 {
    text-transform: uppercase;
    background: linear-gradient(
        to right,
        rgb(237, 34, 36),
        rgb(243, 91, 34),
        rgb(249, 150, 33),
        rgb(245, 193, 30),
        rgb(241, 235, 27) 27%,
        rgb(241, 235, 27),
        rgb(241, 235, 27) 33%,
        rgb(99, 199, 32),
        rgb(12, 155, 73),
        rgb(33, 135, 141),
        rgb(57, 84, 165),
        rgb(97, 55, 155),
        rgb(147, 40, 142)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary_btn {
    padding: 0.8em 2.25em;

    border: solid 1px grey;
    border-radius: 99em;

    color: black;
    font-family: 'Clash Display';
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    transition-duration: 250ms;
}

.secondary_btn:hover {
    background-color: black;
    color: white;
    border: solid 1px black;
}

.lescard2 {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    gap: 30px;
    margin: 75px;
}

.card2_info {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    align-items: center;
    text-align: center;
    text-wrap: pretty;

    background-color: white;

    border: solid 1px grey;
    border-radius: 15px;
}

h1 {
    color: #000;
    text-align: center;
    font-family: 'Clash Display';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

h3 {
    color: #1a1a1a;
    text-align: center;
    font-family: 'Clash Display Variable';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    text-transform: uppercase;
}

p {
    color: #1a1a1a;
    text-align: center;
    font-family: 'Clash Display Variable';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    text-transform: capitalize;
}

.logo1,
.logo_1 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffdeef;
}

.logo1,
.logo_2 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf3ce;
}

.logo1,
.logo_3 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #000; /* Change this to the color you want for the border */
    object-fit: cover; /* This will make sure your logo stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #caf0ff;
}

@media (max-width: 1200px) {
    .menu-hamb {
        display: block;
        width: 24px;
        height: 23.571px;
        flex-shrink: 0;
    }

    .ong {
        display: none;
    }

    .btn {
        display: none;
    }

    .text {
        font-size: 32px;
        font-weight: 600;
    }
}


h4{
    color: #FF0084;
    text-align: center;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 7rem;
    align-items: center;
}

.description-textuelle{
    position: relative;
}


.pinsau{
    position: absolute;
    right: 1000px;
    bottom: 50px;
}

.palette{
    position: absolute;
    left: 1000px;

}

h5{
    color: #000;
    text-align: center;
    font-family: "Clash Display Variable";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 100% */
    text-transform: uppercase;
    width: 1100px;
    align-items: center;
    margin-top: 23px;
}

p {
    color: #616161;
    text-align: center;
    font-family: "Clash Display Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    width: 1000px;
    margin: 30px auto;
}

.text_flid{
    display: flex;
    margin: 50px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.Name{
    width: 850px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.Email{
    width: 850px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.Message{
    width: 850px;
    height: 180px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
